@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

body {
    height: 7706px;
}

img{
    width:100%;
    height: 100%;
    max-height: 50vh;
    padding: 20px;
}

.logo{
    width: 80px;
}

.logo__link{
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 24px;
    color: rgb(36,62,99);
}

.logo__link:hover{
    color: rgb(100,21,255);
}

.row {
    width: 100%;
    max-width: 1289px;
    margin: 0 auto;
}

.row__two {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    padding: 80px 0;
}

#nav__bar {
    border-bottom-color: rgb(229,231,235);
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(229,231,235);
    border-left-style: solid;
    border-left-width: 0px;
    border-right-color: rgb(229,231,235);
    border-right-style: solid;
    border-right-width: 0px;
    border-top-color: rgb(229,231,235);
    border-top-style: solid;
    border-top-width: 0px;
    color: rgb(36, 62, 99);
    display: block;
    line-height: 24px;
    tab-size: 4;
    text-size-adjust: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.front__area--description {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.front__area--image {
    width: 60%;
}

.nav__links {
    display: flex;
    align-items: center;
}

.nav__link {
    margin-left: 48px;
    color: rgb(36,62,99);
    cursor: pointer;
    letter-spacing: 0.35px;
    line-height: 21px;
    margin-left: 24px;
    margin-right: 24px;
    padding-bottom: 4px;
    font-size: 14px;
    font-weight: 600;
    border-bottom-color: rgba(0, 0, 0, 0);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-image-repeat: stretch;
    border-image-width: 1;
    text-decoration-color: rgb(100,21,255);
}

.nav__link:hover {
    color: rgb(100,21,255);
    text-decoration: underline;
}

.sign__btn{
    background-color: rgb(100,21,255);
    border-bottom-color: rgba(0, 0, 0, 0);
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgba(0, 0, 0, 0);
    border-left-style: solid;
    border-left-width: 0px;
    border-right-color: rgba(0, 0, 0, 0);
    border-right-style: solid;
    border-right-width: 0px;
    border-top-color: rgba(0, 0, 0, 0);
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    border-top-style: solid;
    border-top-width: 0px;
    color: rgb(247, 250, 252);
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.35px;
    line-height: 21px;
    margin-left: 36px;
    padding-bottom: 12px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 12px;
    tab-size: 4;
    text-decoration-color:rgb(247, 250, 252);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    text-size-adjust: 100%;
}

.front_area--text {
    font-size: 50px; 
    padding-bottom: 36px;   
}

.purple {
    color: rgb(100,21,255);
}

.button__wrapper {
    border-bottom-color:rgb(229,231, 235);
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(229,231,235);
    border-left-style: solid;
    border-left-width: 0px;
    border-right-color: rgb(229,231,235);
    border-right-style: solid;
    border-right-width: 0px;
    border-top-color: rgb(229,231,235);
    border-top-style: solid;
    border-top-width: 0px;
    box-sizing: border-box;
    color: rgb(36, 62, 99);
    display: block;
    line-height: 24px;
    margin-top: 32px;
    margin-bottom: 32px;
    max-width: 448px;
    position: relative;
    tab-size: 4;
    text-align: center;
    text-size-adjust: 100%;
}

.email__holder {
    background-color: rgb(255, 255, 255);
    border-bottom-color: rgb(229,231,235);
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(229,231,235);
    border-left-style: solid;
    border-left-width: 2px;
    border-right-color: rgb(229,231,235);
    border-right-style: solid;
    border-right-width: 2px;
    border-top-color: rgb(229,231,235);
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    border-top-style: solid;
    border-top-width: 2px;
    color: rgb(36,62,99);
    cursor: text;
    display: inline-block;
    font-size: 16px;
    font-stretch: 100%;
    font-weight: 500;
    line-height: 24px;
    margin: 0px;
    padding-bottom: 20px;
    padding-left: 32px;
    padding-right: 192px;
    padding-top: 20px;
    tab-size: 4;
    text-align: start;
    text-indent: 0px;
    text-rendering: auto;
    text-shadow: none;
    text-size-adjust: 100%;
    width: 448px;
    word-spacing:0;
}

.get__btn {
    align-items: center;
    background-color: rgb(100,21,255);
    background-image:none;
    border-bottom-color: rgb(229,231,235);
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-bottom-style: solid;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(229,231, 235);
    border-left-style: solid;
    border-left-width: 0px;
    border-right-color: rgb(229,231,235);
    border-right-style: solid;
    border-right-width: 0px;
    border-top-color: rgb(229,231,235);
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    border-top-style: solid;
    border-top-width: 0px;
    bottom: 0px;
    box-sizing: border-box;
    color: rgb(247, 250, 252);
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-stretch: 100%;
    font-weight: 700;
    justify-content: center;
    line-height: 16px;
    margin-bottom: 8px;
    margin-left: 0px;
    margin-right: 8px;
    margin-top: 8px;
    padding-bottom: 16px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 16px;
    position: absolute;
    right: 0px;
    tab-size: 4;
    text-align: center;
    text-indent: 0px;
    text-rendering: auto;
    text-shadow: none;
    top: 0px;
    width: 160px;
    word-spacing: 0px;
}

.trusted{
    color: rgb(160, 174, 192);
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.6px;
    line-height: 18px;
    text-align: left;
    text-transform: uppercase;
    margin-top: 48px;
}

.trusted__img--wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.trusted__img{
    color: rgb(36,62,99);
    margin-top: 16px;
    opacity: 0.5;
    padding-right: 128px;
    padding-left: 0;
    padding-top: 0;
    padding-right: 0;
}

#features {
    margin-top: 92px;
}

.features__header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.features__h5 {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    margin-block-end: 16px;
    margin-block-start: 0px;
    margin-bottom: 24px;
    letter-spacing: 1.8px;
}

.features__header--two{
    color: rgb(36,62,99);
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 1.2px;
    margin-bottom: 16px;
}

.features__para {
    color: rgb(124, 139, 161);
    font-size: 18px;
    font-weight: 500px;
    line-height: 29.25px;
    margin-block-start: 16px;
    max-width: 576px;
    text-align: center;
}

.services {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px; 
}

.service {
    display: flex;
    width: calc(100%/3);
    max-width: 384px;
    height: 211px;
    line-height: 24px;
    width: 341.382px;
}

.service__description {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    margin-left: 16px;
}

.service__img {
    transform: scale(1);
    border-color:rgb(229,231, 235);
    border-style: solid;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-width: 1px;
    line-height: 24px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    height: 100%;
    width: 100%;
    max-height: 66px;
    max-width: 66px;
}

.Title{
    color: rgb(36, 62, 99);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.6px;
    line-height: 24px;
    text-align: left; 
}

.description__ser {
    margin-top: 16px;
    font-weight: 500;
    line-height: 32px;
    margin-block-start: 16px;
    color: rgb(124, 139, 161);
    text-align: left;
    text-size-adjust: 100%;
    width: 254px;
}


/* Quality Section */

.quality__div {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    line-height: 24px;
    margin-left: 4.5px;
    margin-right: 4.5px;
    padding-bottom: 96px;
    padding-top: 96px;
}

.quality__description {
    width: 55%;
    display: flex;
    flex-direction: column;
    border-image-width: 1;
    color: rgb(36, 62, 99);
    line-height: 24px;
    padding-bottom: 32px;
    padding-top: 32px;
    tab-size: 4;
    text-align: left;
    text-size-adjust: 100%;
}

.h5__quality {
    border-image-repeat: stretch;
    border-image-width: 1;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    tab-size: 4;
    text-align: left;
    text-size-adjust: 100%;
    letter-spacing: 2px;
}

.h2__quality {
    color:rgb(36, 62, 99);
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 1.2px;
    line-height: 60px;
    margin-block-start: 16px;
    margin-top: 16px;
}

.p__quality {
    color: rgb(124, 139, 161);
    font-size: 18px;
    font-weight: 500;
    line-height: 29.25px;
    margin-block-start: 16px;
    margin-top: 16px;
    text-align: left;
    width: 550px;
}

.button__quality {
    background-color: rgb(100,21,255);
    border-bottom-color: rgb(229,231,235);
    border-bottom-left-radius: 9999px;
    border-bottom-right-radius: 9999px;
    border-bottom-style: solid;
    border-image-width: 1;
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
    color: rgb(247, 250, 252);
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    margin-top: 32px;
    padding-bottom: 12px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 12px;
    text-align: left;
    text-decoration-color: rgb(247, 250, 252);
    text-decoration-line: none;
    text-decoration-style: solid;
    width: 141.25px;
}

.quality__pic {
    border-color: rgb(229,231,235);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4x;
    border-top-right-radius: 4px;
    border-bottom-style: solid;
    border-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-style: solid;
    border-left-style: solid;
    border-right-style: solid;
}

/* STEPS PAGE */

.steps__div {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    line-height: 24px;
    margin-left: 4.5px;
    margin-right: 4.5px;
    padding-bottom: 96px;
    padding-top: 96px;
}

.steps__picture {
    width: 50%;
}

.steps__description {
    margin-left: 64px;
}

.steps__h5 {
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 1.2px;
}

.steps__h2 {
    font-size: 48px;
    font-weight: 900;
    margin-block-start: 16px;
    letter-spacing: 1.2px;
    line-height: 60px;
    margin-top: 16px;
    text-align: left;
    text-size-adjust: 100%;
}

.steps__lists {
    line-height: 24px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-block-start: 48px;
    margin-top: 48px;
    text-align: left;
    text-size-adjust: 100%;
    font-family: 'Inter', system-ui;
}

.steps__list {
    display: flex;
    margin-top: 16px;
}

.steps__number {
    color: rgb(203, 213, 224);
    display: block;
    font-size: 36px;
    font-weight: 600;
    line-height: 36px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

.steps__text {
    display: block;
    line-height: 24px;
    margin-left: 24px;
}

.text__h6 {
    color: rgb(36, 62, 99);
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
}

.text__para {
    color: rgb(113, 128, 150);
    font-size: 14px;
    font-weight: 500;
    line-height: 28px;
    margin-block-start: 12px;
    margin-top: 12px;
    max-width: 320px;
}